#mapTitle{
  position:absolute;
  top:10px;
  left:200px;
}

#histTitle{
  position:absolute;
  top:710px;
  left:200px;
}

.container{
	margin: 30px auto;
    width: 600px;
    height: 300px;
    border: 1px solid #000;
    background-color: #AA3030;
}

#container{
  height:650px;
}

.green-par{
	color:green;
}

.red-par{
	color:red;
}

body {
    background:#F5F5F5;
}

div {
    margin: 20px;
}

svg {
    background:white;
}
.red {
    fill:red;
}

.green {
    fill:green;
}

#states path {
  fill: #ccc;
  stroke: #fff;
}

.num {
  fill: #4682b4;
  fill-opacity: .8;
  stroke: #fff;
}

.num:hover{
    fill:#66a2d4;
    r:20;
}

.rate {
  fill: #46b482;
  fill-opacity: .8;
  stroke: #fff;
}

.rate:hover{
    fill:#66d4a2;
    r:20;
}

#cells.voronoi path.cell {
  stroke: brown;
}

#cells g:hover path.arc {
  display: inherit;
}

#info {
    position:absolute;
    top:400px;
    left:1000px;
}

#select{
    position:absolute;
    top:100px;
    left:1000px;
}

button{
  margin: 20px;

}

.bar {
  fill: steelblue;
}

.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
