.container{
	margin: 30px auto;
    width: 600px;
    height: 300px;
    border: 1px solid #000;
    background-color: #AA3030;
}

#container{
  height:1000px;
}

.green-par{
	color:green;
}

.red-par{
	color:red;
}

body {
    background:#F5F5F5;
}
div {
    margin: 20px;
}

svg {
    background:white;
}
.red {
    fill:red;
}

.green {
    fill:green;
}

#states path {
  fill: #ccc;
  stroke: #fff;
}

circle {
  fill: #4682b4;
  fill-opacity: .8;
  stroke: #fff;
}

circle:hover{
    fill:#66a2d4;
    r:20;
}

#cells.voronoi path.cell {
  stroke: brown;
}

#cells g:hover path.arc {
  display: inherit;
}

#info {
    position:absolute;
    top:650px;
    left:20px;
}

#select{
    position:absolute;
    top:50px;
    right:50px;
}

button{
  margin: 20px;
}

.bar {
  fill: steelblue;
}

.axis path {
  display: none;
}